@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    background-color: #fafafa;
    border-top: 2px solid #0A0A0A;
  }
}
.text-shadow {
  text-shadow: 0px 2px 10px rgba(247, 247, 247, 0.5);
}
a {
  text-decoration: underline;
  color: hsl(240, 100%, 47%);
  text-decoration-color: hsl(240, 100%, 47%);
}
a:hover,
a:visited:hover {
  font-style: italic;
  color: hsl(210, 100%, 70%);
  text-decoration-color: hsl(210, 100%, 70%);
}
a:visited {
  color: hsl(271, 68%, 32%);
  text-decoration-color: hsl(271, 68%, 32%);
}
.ml7 {
  position: relative;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
}
body::-webkit-scrollbar {
  width: 2mm;
}

body::-webkit-scrollbar-track {
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5000px;
  /* outline: 1px solid ; */
}
